:root {
  font-family: 'Bricolage Grotesque', sans-serif;
  --near-white: #f4f4f4;
  --silver: #999999;
}

body {
  background: var(--background);
}

/* Colors */
.primary {
  color: var(--primary);
}
.b--primary {
  border-color: var(--primary);
}

.hover-primary:hover,
.hover-primary:focus {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}
.b--secondary {
  border-color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}
.b--tertiary {
  border-color: var(--tertiary);
}

.hover-secondary:hover,
.hover-secondary:focus {
  color: var(--secondary);
}

.bg-background {
  background-color: var(--background);
}
.b--background {
  border-color: var(--background);
}

.hover-bg-background:hover,
.hover-bg-background:focus {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}
.b--surface {
  border-color: var(--surface);
}

.hover-bg-surface:hover,
.hover-bg-surface:focus {
  background-color: var(--surface);
}

.number {
  font-variant-numeric: tabular-nums;
}

/* Palette */
.chip {
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transform-origin: right top;
}
.chip:hover {
  transform: scale(1.1);
  z-index: 1;
}
.chip:active {
  transform: scale(0.95);
}

/* Inputs */
input {
  display: block;
  box-sizing: border-box;
  touch-action: manipulation;
}
input:hover,
input:focus {
  outline: none;
  border: 1px solid var(--primary);
}
