:root {
  font-family: 'Bricolage Grotesque', sans-serif;
  --near-white: #f4f4f4;
  --silver: #999999;
}

body {
  background: var(--background);
}

/* Colors */
.primary {
  color: var(--primary);
}
.b--primary {
  border-color: var(--primary);
}

.hover-primary:hover,
.hover-primary:focus {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}
.b--secondary {
  border-color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}
.b--tertiary {
  border-color: var(--tertiary);
}

.hover-secondary:hover,
.hover-secondary:focus {
  color: var(--secondary);
}

.bg-background {
  background-color: var(--background);
}
.b--background {
  border-color: var(--background);
}

.hover-bg-background:hover,
.hover-bg-background:focus {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}
.b--surface {
  border-color: var(--surface);
}

.hover-bg-surface:hover,
.hover-bg-surface:focus {
  background-color: var(--surface);
}

.number {
  font-variant-numeric: tabular-nums;
}

.g0 {
  gap: 0;
}
.g1 {
  gap: 0.25rem;
}
.g2 {
  gap: 0.5rem;
}
.g3 {
  gap: 1rem;
}
.g4 {
  gap: 2rem;
}
.g5 {
  gap: 4rem;
}
.g6 {
  gap: 8rem;
}
.g7 {
  gap: 16rem;
}

.sticky {
  position: sticky;
}

/* Palette */
.chip {
  cursor: pointer;
  transform-origin: right top;
}

/* Inputs */
input {
  display: block;
  box-sizing: border-box;
  touch-action: manipulation;
}
input:hover,
input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

/* Main Layout */
#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  overflow: hidden;
  align-items: flex-start;
}

.nav {
  grid-column: 1 / -1;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 60em) {
  main {
    grid-template-columns: 1.5fr 1fr;
  }
}

.controls {
  overflow-y: scroll;
}
